# Node / Frontend
node_modules/
dist/
.env
.env.local
.env.*.local
frontend/.env
frontend/.env.local

# Java / Backend
backend/bin/
*.log
.env
node_modules/
target/
backend/lib
backend/target/
backend/.mvn/
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
.vscode/settings.json
*.iml
.DS_Store
Thumbs.db

# Database
*.sql.backup

# Uploads
uploads/
temp/

# Database data
database/data/
